.main-div{
	width: 100%;
	font-family: "Verdana", "Arial";
	color: whitesmoke;
}
.main-block{
	margin: 15px 0px;
	min-height: 300px;
	font-size: 18px;
	padding: 0px 15px;
}

.film-title{
	font-size: 24px;
	font-weight: bold;
	color: whitesmoke;
}

.film-title:hover{
	color: gray;
}

.preview{
	min-width: 170px;
	width: 10%;
	padding-right: 15px;
}

h1{
	align-content: center;
}

body{
	margin: 0px;
	padding: 0px;
	max-width: 1920px;
	height: 100%;
	background-image: url("../assets/img/background img.jpg");
}

.main-div-page{
	width: 60%;
	min-width: 600px;
	font-family: "Verdana", "Arial";
	font-size: 24px;
	color: whitesmoke;
	margin: auto;
}

.main-image{
	min-width: 600px;
	display: block;
	width: 100%;
	margin: auto;
	padding: auto;
}

.information{
	padding: 0px 15px;
}

.back{
	color: whitesmoke;
}

.back:hover{
	color: gray;
}

.sup-img{
	height: 100%;
	display: inline-block;
    vertical-align: top;
}

.colage{
	width: 100%;
	min-height: 400px;
	height: 400px;
	overflow: hidden;
    overflow-x: scroll;    
    white-space:nowrap;
}